.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselItems {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.33%;
  box-sizing: border-box;
}