.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselItems {
  display: flex;
  transition: transform 1s ease-in-out !important;
  will-change: transform;
}


.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}