@tailwind base;
@tailwind components;
@tailwind utilities;

.font-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

main {
  width: 400px;
  min-width: 360px;
  min-height: 100vh;
  background-color: white;
}
